<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="momo_config_provider" xsi:type="object">Dabilo\Payment\Model\MomoConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Dabilo\Payment\Controller\Momo\Start">
        <arguments>
            <argument name="commandPool" xsi:type="object">MomoCommandPool</argument>
        </arguments>
    </type>
    <type name="Dabilo\Payment\Controller\Momo\ReturnAction">
        <arguments>
            <argument name="commandPool" xsi:type="object">MomoCommandPool</argument>
            <argument name="method" xsi:type="object">MomoFacade</argument>
        </arguments>
    </type>
    <type name="Dabilo\Payment\Controller\Momo\Ipn">
        <arguments>
            <argument name="commandPool" xsi:type="object">MomoCommandPool</argument>
            <argument name="method" xsi:type="object">MomoFacade</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="momo" xsi:type="string">/momo/payment/</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="zalopay_wallet_config_provider" xsi:type="object">
                    Dabilo\Payment\Model\ZaloPayConfigProvider
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Dabilo\Payment\Controller\Zalopay\Start">
        <arguments>
            <argument name="commandPool" xsi:type="object">ZaloPayCommandPool</argument>
        </arguments>
    </type>
    <type name="Dabilo\Payment\Controller\Zalopay\ReturnAction">
        <arguments>
            <argument name="commandPool" xsi:type="object">ZaloPayCommandPool</argument>
            <argument name="method" xsi:type="object">ZaloPayFacade</argument>
        </arguments>
    </type>
    <type name="Dabilo\Payment\Controller\Zalopay\Ipn">
        <arguments>
            <argument name="commandPool" xsi:type="object">ZaloPayCommandPool</argument>
            <argument name="method" xsi:type="object">ZaloPayFacade</argument>
        </arguments>
    </type>
</config>
